/**
 *
 *    Global
 * 
 */

html, body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

.page-wrapper { 
  margin: 0 auto;
  height: 100vh;
  background-color: rgba(0,0,0,0.01);
}

header {
  overflow: hidden;
  background-color: rgba(0,0,0,.8);
  box-shadow: 0px 0px 25px rgba(0,0,0,.75);
}

.nav-list {
  float: left;
  display: flex;
  list-style: none;
  padding: 35px 0 0 15px;
  margin: 0;
}

.list-item { 
  padding: 0 30px;
  line-height: 25px;
}

.page-link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  white-space: nowrap;
}

.page-link:hover {
  color: #e74c3c;
}

.logo {
  position: absolute;
  left: 50%;
  min-width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 22px 0 22px -25px;
  text-align: center;
  background-color: white;
  border-radius: 25px;
}

.logo span {
  vertical-align: middle;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0,0,0,.8);
}

.socials {
  float: right;
  display: flex;
  margin-right: 25px;
}

.socials a {
  display: inline-block;
  margin: 35px 10px;
  height: 25px;
}

.socials a img{
  width: 25px;
  height: 25px;
  margin: 0;
}

/**
 *
 *    About Me
 * 
 */

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
}

.portrait-container img {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  margin: 50px;
}

.content-container {
  margin-right: 50px;
}

@media (max-width: 900px) {
  .content-wrapper {
    flex-wrap: wrap;
    margin: 0 50px;
  }

  .content-container h2,
  .content-container h3,
  .content-container p {
    text-align: center;
  }
}

/**
 *
 *    Work
 * 
 */

.projects-wrapper {
  max-width: 1280px;
  margin: 50px auto;
  text-align: center;
}

.projects-list {
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
}

.project {
  width: 360px;
  background-color: white;
  box-shadow: 0 4px 15px 0 rgba(36,37,38,.18);
  border-radius: 8px;
  margin: 0 20px 50px 20px;
}

.project-title {
  font-size: 20px;
  font-weight: bold;
  color: #e74c3c;
  padding: 10px 10px 0 10px;
}

.image-holder {
  border-radius: 8px 8px 0 0;
  height: 165px;
  overflow: hidden;
}

.image {
  height: 100%; 
  width: 100%;
  background-size: cover;
  background-position: center;
  transform: scale(1);
  transition: all .2s ease-in-out;
}

#yc { background-image: url('./projects/yc-internship.jpg') }
#cooking { background-image: url('./projects/cooking.jpg') }
#art { background-image: url('./projects/art.gif') }
#ing { background-image: url('./projects/ing.jpg') }

.project:hover {
  cursor: pointer;
}

.project:hover .image {
  transform: scale(1.1);
}

.project-description {
  padding: 0 15px;
  text-align: left;
}

.date-holder {
  text-align: left;
  padding: 15px;
}

/**
 *
 *    Data
 * 
 */

.chart-heading {
  margin-top: 30px;
  text-align: center;
}

#myChart {
  margin: 30px auto;
}